body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  margin: 0;
  border: 4px solid blue;
}

.image-section {
  background-image: url("../images/green-leaf.avif");
  width: 40%;
}

.content-section {
  background-color: rgb(183, 209, 233);
  width: 60%;
}

.logo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
}
